@inject IStringLocalizer<Resources.AppResources> Loc
@inject ThemeSettings themeSettings

<EditForm Model="user" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="padded-form">
        <div class="form-group">
            <label for="name">@Loc["UsernamePlaceholder"]</label>
            <InputText id="name" @bind-Value="user.Username" class="@inputClass"></InputText>
        </div>
        <div class="form-group">
            <label for="pass">@Loc["PasswordPlaceholder"]</label>
            <InputText type="password" id="pass" @bind-Value="user.Password" class="@inputClass"></InputText>
        </div>
        <div class="form-group">
            <label for="cpass">@Loc["ConfirmPasswordPlaceholder"]</label>
            <InputText type="password" id="cpass" @bind-Value="user.ConfirmPassword" class="@inputClass"></InputText>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">@Loc["LoginButton"]</button>
</EditForm>

@code {
    [Parameter]
    public UserLogin user { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    public string? inputClass;

    protected override void OnInitialized()
    {
        inputClass = themeSettings.CurrentTheme == AppTheme.Dark ? "form-control-dark form-control" : "form-control";
    }
}
