@page "/authors"
@inject IAuthorService service
@inject NavigationManager manager
@inject AuthState authState
@inject IStringLocalizer<Resources.AppResources> Loc
@inject ThemeSettings themeSettings

<PageTitle>[PAMIW] @Loc["AuthorsHeader"]</PageTitle>

    <h1>@Loc["AuthorsHeader"]</h1>

@if (authors is null)
{
    <p>@message</p>
}
else if (!authors.Any())
{
    <p>@Loc["NoData"]</p>
}
else
{
    <button class="btn btn-primary" @onclick="CreateAction">@Loc["CreateAuthorButton"]</button>
    <table class="table @(themeSettings.CurrentTheme == AppTheme.Dark ? "table-dark" : null) table-striped align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>@Loc["AuthorName"]</th>
                <th>@Loc["AuthorSurname"]</th>
                <th>@Loc["EmailPlaceholder"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in authors)
            {
                <tr>
                    <th scope="row">@author.Id</th>
                    <td>@author.Name</td>
                    <td>@author.Surname</td>
                    <td>@author.Email</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditAction(author.Id)">@Loc["UpdateButton"]</button>
                        <button class="btn btn-danger" @onclick="() => DeleteAction(author.Id)">@Loc["DeleteButton"]</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item">
            <button class="@(themeSettings.CurrentTheme == AppTheme.Dark ? "pagination-item-dark" : null) page-link" @onclick="PreviousPage">@Loc["PrevButton"]</button>
        </li>
        <li class="page-item active">
            <span class="page-link">@currentPage</span>
        </li>
        <li class="page-item">
            <button class="@(themeSettings.CurrentTheme == AppTheme.Dark ? "pagination-item-dark" : null) page-link" @onclick="NextPage">@Loc["NextButton"]</button>
        </li>
    </ul>
}

@code {
    private List<Author>? authors;
    private readonly int dataPerPage = 10;
    private int currentPage = 1;
    private int totalPages;
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        message = Loc["LoadingLabel"];

        if (!await authState.TryAuthenticateAsync())
        {
            manager.NavigateTo("/login");
        }

        authors = await GetAuthorsAsync();
    }

    protected async Task<List<Author>?> GetAuthorsAsync()
    {
        var response = await service.GetAuthorsAsync();

        if (!response.Success)
        {
            message = response.Message;
            return null;
        }

        var data = response.Data;

        if (data is null || !data.Any())
        {
            return data;
        }

        totalPages = (data.Count / dataPerPage) + 1;

        if (data.Count % dataPerPage == 0)
        {
            totalPages--;
        }

        while (currentPage > totalPages)
        {
            currentPage--;
        }

        int dataToFetch = currentPage == totalPages && data.Count % dataPerPage != 0 ? data.Count % dataPerPage : dataPerPage;

        return data.GetRange((currentPage - 1) * dataPerPage, dataToFetch);
    }

    protected void CreateAction()
    {
        manager.NavigateTo($"/authors/create");
    }

    protected void EditAction(int id)
    {
        manager.NavigateTo($"/authors/{id}");
    }

    protected async Task DeleteAction(int id)
    {
        await service.DeleteAuthorAsync(id);

        authors = await GetAuthorsAsync();
    }

    protected async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;

            authors = await GetAuthorsAsync();
        }
    }
    protected async Task NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;

            authors = await GetAuthorsAsync();
        }
    }
}
