@inject IStringLocalizer<Resources.AppResources> Loc
@inject ThemeSettings themeSettings

<EditForm Model="author" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="padded-form">
        <div class="form-group">
            <label for="name">@Loc["AuthorName"]</label>
            <InputText id="name" @bind-Value="author.Name" class="@inputClass"></InputText>
        </div>
        <div class="form-group">
            <label for="surname">@Loc["AuthorSurname"]</label>
            <InputText id="surname" @bind-Value="author.Surname" class="@inputClass"></InputText>
        </div>
        <div class="form-group">
            <label for="mail">@Loc["EmailPlaceholder"]</label>
            <InputText id="mail" @bind-Value="author.Email" class="@inputClass"></InputText>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">@Loc["SubmitButton"]</button>
</EditForm>

@code {
    [Parameter]
    public Author author { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    public string? inputClass;

    protected override void OnInitialized()
    {
        inputClass = themeSettings.CurrentTheme == AppTheme.Dark ? "form-control-dark form-control" : "form-control";
    }
}
