@page "/publishers"
@inject IPublisherService service
@inject NavigationManager manager
@inject AuthState authState
@inject IStringLocalizer<Resources.AppResources> Loc

<PageTitle>[PAMIW] @Loc["PublishersHeader"]</PageTitle>

    <h1>@Loc["PublishersHeader"]</h1>

@if (publishers is null)
{
    <p>@message</p>
}
else if (!publishers.Any())
{
    <p>@Loc["NoData"]</p>
}
else
{
    <button class="btn btn-primary" @onclick="CreateAction">@Loc["CreatePublisherButton"]</button>
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>@Loc["PublisherName"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var publisher in publishers)
            {
                <tr>
                    <th scope="row">@publisher.Id</th>
                    <td>@publisher.Name</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditAction(publisher.Id)">@Loc["UpdateButton"]</button>
                        <button class="btn btn-danger" @onclick="() => DeleteAction(publisher.Id)">@Loc["DeleteButton"]</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item">
            <button class="page-link" @onclick="PreviousPage">@Loc["PrevButton"]</button>
        </li>
        <li class="page-item active">
            <span class="page-link">@currentPage</span>
        </li>
        <li class="page-item">
            <button class="page-link" @onclick="NextPage">@Loc["NextButton"]</button>
        </li>
    </ul>
}

@code {
    private List<Publisher>? publishers;
    private readonly int dataPerPage = 10;
    private int currentPage = 1;
    private int totalPages;
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        message = Loc["LoadingLabel"];
        if (!await authState.TryAuthenticateAsync())
        {
            manager.NavigateTo("/login");
        }

        publishers = await GetPublishersAsync();
    }

    protected async Task<List<Publisher>?> GetPublishersAsync()
    {
        var response = await service.GetPublishersAsync();

        if (!response.Success)
        {
            message = response.Message;
            return null;
        }

        var data = response.Data;

        if (data is null || !data.Any())
        {
            return data;
        }

        totalPages = (data.Count / dataPerPage) + 1;

        if (data.Count % dataPerPage == 0)
        {
            totalPages--;
        }

        while (currentPage > totalPages)
        {
            currentPage--;
        }

        int dataToFetch = currentPage == totalPages && data.Count % dataPerPage != 0 ? data.Count % dataPerPage : dataPerPage;

        return data.GetRange((currentPage - 1) * dataPerPage, dataToFetch);
    }

    protected void CreateAction()
    {
        manager.NavigateTo($"/publishers/create");
    }

    protected void EditAction(int id)
    {
        manager.NavigateTo($"/publishers/{id}");
    }

    protected async Task DeleteAction(int id)
    {
        await service.DeletePublisherAsync(id);

        publishers = await GetPublishersAsync();
    }

    protected async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;

            publishers = await GetPublishersAsync();
        }
    }
    protected async Task NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;

            publishers = await GetPublishersAsync();
        }
    }
}
