@page "/publishers/{Id:int}"
@inject IPublisherService service
@inject NavigationManager manager
@inject AuthState authState
@inject IStringLocalizer<Resources.AppResources> Loc

<PageTitle>[PAMIW] @Loc["EditPublisherHeader"]</PageTitle>

    <h1>@Loc["EditPublisherHeader"]</h1>

@if (publisher is null)
{
    <p>@message</p>
}
else
{
    @if (updateMessage is not null)
    {
        <p class="alert alert-danger">@Loc["ErrorLabel"] @updateMessage</p>
    }

    <PublisherForm publisher="publisher" OnValidSubmit="HandleSubmit" />
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Publisher? publisher;
    private string? message;
    private string? updateMessage;

    protected override async Task OnInitializedAsync()
    {
        message = Loc["LoadingLabel"];

        if (!await authState.TryAuthenticateAsync())
        {
            manager.NavigateTo("/login");
        }

        var response = await service.GetPublisherAsync(Id);

        if (!response.Success)
        {
            message = response.Message;
            return;
        }

        publisher = response.Data;
    }

    public async Task HandleSubmit()
    {
        if (publisher is null)
        {
            return;
        }

        var response = await service.UpdatePublisherAsync(Id, publisher);

        if (!response.Success)
        {
            updateMessage = response.Message;
            return;
        }

        manager.NavigateTo("/publishers");
    }
}
