@page "/books"
@inject IBookService service
@inject NavigationManager navManager

<PageTitle>PWA - Books</PageTitle>

<h1>Book List</h1>

@if (books is null)
{
    <p>@message</p>
}
else if (!books.Any())
{
    <p>No data to show.</p>
}
else
{
    <button class="btn btn-primary" @onclick="CreateAction">Create new book</button>
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author ID</th>
                <th>Publisher ID</th>
                <th>Page count</th>
                <th>Release date</th>
                <th>ISBN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <th scope="row">@book.Id</th>
                    <td>@book.Title</td>
                    <td>@book.AuthorID</td>
                    <td>@book.PublisherID</td>
                    <td>@book.PageCount</td>
                    <td>@book.ReleaseDate.ToShortDateString()</td>
                    <td>@book.ISBN</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditAction(book.Id)">Update</button>
                        <button class="btn btn-danger" @onclick="() => DeleteAction(book.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item">
            <button class="page-link" @onclick="PreviousPage">Prev</button>
        </li>
        <li class="page-item active">
            <span class="page-link">@currentPage</span>
        </li>
        <li class="page-item">
            <button class="page-link" @onclick="NextPage">Next</button>
        </li>
    </ul>
}

@code {
    private List<Book>? books;
    private readonly int dataPerPage = 10;
    private int currentPage = 1;
    private int totalPages;
    private string? message = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        books = await GetBooksAsync();
    }

    protected async Task<List<Book>?> GetBooksAsync()
    {
        var response = await service.GetBooksAsync();

        if (!response.Success)
        {
            message = response.Message;
            return null;
        }

        var data = response.Data;

        if (data is null || !data.Any())
        {
            return data;
        }

        totalPages = (data.Count / dataPerPage) + 1;

        if (data.Count % dataPerPage == 0)
        {
            totalPages--;
        }

        while (currentPage > totalPages)
        {
            currentPage--;
        }

        int dataToFetch = currentPage == totalPages && data.Count % dataPerPage != 0 ? data.Count % dataPerPage : dataPerPage;

        return data.GetRange((currentPage - 1) * dataPerPage, dataToFetch);
    }

    protected void CreateAction()
    {
        navManager.NavigateTo($"/books/create");
    }

    protected void EditAction(int id)
    {
        navManager.NavigateTo($"/books/{id}");
    }

    protected async Task DeleteAction(int id)
    {
        await service.DeleteBookAsync(id);

        books = await GetBooksAsync();
    }

    protected async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;

            books = await GetBooksAsync();
        }
    }
    protected async Task NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;

            books = await GetBooksAsync();
        }
    }
}
